 <div class='col-12 col-md-10 mb-3 mx-auto'>
 <div class='card'>
    <div class='card-body'>
        <h5 class='card-title'>{{ blog_post.title }}</h5>
        <p class='card-text'>

            {% if truncate %}
                {{ blog_post.content|linebreaks|truncatewords:30 }}
            {% else %}
                {{ blog_post.content|linebreaks }}
            {% endif %}
        </p>

        {% if not detail %}
            <a href="{{ blog_post.get_absolute_url }}">View</a>
        {% endif %}
    </div>

 </div>
</div>